name: Checkout 
on:
  push:
    branches:
      - main 
      
      
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v6.0.0
      
   
